ccxt==4.1.91
pandas==2.1.4
pandas-ta==0.3.14b0
scipy
seaborn
statsmodels
ta==0.11.0
tqdm
ipywidgets
ipykernel
lightweight_charts==1.0.18.8
nbstripout
openpyxl
aiolimiter
httpx
yfinance
riskfolio-lib
pydantic